* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}


:root{
    --primary-color:#ea580c;
    --secondary-color:#5C6BCB;
    --white-color:#f8f8ff;
    --grey-color:#878484
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
}


input,
button {
  border: none;
  outline: none;
  font-size: 1rem;
  background: transparent;
}
